{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/icon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>GarageManager | Acceuil</title>
</head>
<body>

    <header>
        <a href="/"><div class="logo">GarageManager</div></a>
        <a href="/login"><button>Connexion</button></a>
    </header>

    <div class="container">
        <p>GarageManager</p>
    </div>

    <!-- <div class="card-container">
        CARD
    </div>

    <div class="faq">
        FAQ
    </div> -->

</body>
</html>