@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-color: #ffffff;
  --second-color: #0C0C0D;
  --bg-color: #fafafa;
  --shadow-color: #0C0C0D80;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  height: 55px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--second-color);
  background-color: var(--main-color);
  position: relative;
  z-index: 999;
  box-shadow: 0 -6px 10px 5px var(--shadow-color);
}
header a {
  color: var(--second-color);
}
header .container {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .container a {
  color: var(--second-color);
}
header .container #themeButton {
  transform: translateY(2px);
  cursor: pointer;
}
header .container .bx-log-out {
  transform: translateY(2px);
}

.sidebar {
  padding: 10px 15px;
  position: fixed;
  height: 100%;
  width: 250px;
  background-color: var(--main-color);
  z-index: 998;
  box-shadow: -5px -9px 10px 5px var(--shadow-color);
}
.sidebar ul {
  margin: 20px 0;
}
.sidebar ul li {
  margin: 10px 0;
  width: 100%;
}
.sidebar ul li a {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: var(--second-color);
  border-radius: 8px;
  transition: all ease 0.4s;
}
.sidebar ul li a i {
  width: 40px;
  text-align: center;
  font-size: 18px;
}
.sidebar ul li a:hover {
  color: var(--main-color);
  background-color: var(--second-color);
}
.sidebar ul .bar {
  height: 2px;
  width: 100%;
  border-radius: 200px;
  background-color: var(--second-color);
}

.content {
  padding: 20px 40px;
  position: absolute;
  height: 100%;
  width: calc(100% - 250px);
  left: 250px;
  background-color: var(--bg-color);
  overflow: auto;
  max-height: 700px;
}
.content::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
.content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--second-color);
}
.content .title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--second-color);
}
.content .dashboard-card {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.content .dashboard-card .card {
  padding: 10px 20px;
  width: 300px;
  border: solid 2px var(--second-color);
  background-color: var(--main-color);
  border-radius: 10px;
  color: var(--second-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.content .dashboard-card .card .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}
.content .dashboard-card .card .data {
  font-weight: bold;
  font-size: 1.5rem;
}
.content .button-container {
  padding: 15px 0;
  position: absolute;
  inset: 12px 40px auto auto;
  display: flex;
  gap: 10px;
}
.content .button-container a button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
  color: var(--second-color);
  border: solid 2px var(--second-color);
  background-color: var(--main-color);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.content .button-container a button.add {
  padding: 5px 20px;
}
.content .button-container a button.icon {
  padding: 8px;
}
.content .message-alert {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  position: absolute;
  inset: 80px auto auto 277px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  white-space: nowrap;
}
.content .message-alert #tag {
  margin: -5px 10px -5px 5px;
  font-size: 1.3rem;
  color: #ffffff;
}
.content .message-alert .message {
  font-size: 1rem;
  color: #ffffff;
}
.content .message-alert #close {
  margin: -5px 10px -5px 20px;
  font-size: 1.3rem;
  color: #ffffff;
  cursor: pointer;
}
.content .message-success {
  background-color: #39B770;
}
.content .message-error {
  background-color: #EB5549;
}
.content .message-info {
  background-color: #F39312;
}
.content .table-container {
  padding: 15px 0;
}
.content .table-container .table {
  max-height: 500px;
}
.content .intervention-selector .table.order {
  max-height: 181px;
  width: 500px;
}
.content .table-container .searchbar, .content .intervention-selector .searchbar {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 3px 8px;
  border-radius: 6px;
  border: 1px solid #dddddd;
  color: var(--second-color);
  width: fit-content;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.content .table-container .searchbar i, .content .intervention-selector .searchbar i {
  font-size: 1rem;
}
.content .table-container .searchbar input, .content .intervention-selector .searchbar input {
  background-color: transparent;
  color: var(--second-color);
  border: none;
}
.content .table-container .searchbar input:focus, .content .intervention-selector .searchbar input:focus {
  outline: none;
}
.content .table-container .table, .content .intervention-selector .table {
  margin: 20px 0 0 0;
  overflow: auto;
  height: fit-content;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.content .table-container .table::-webkit-scrollbar, .content .intervention-selector .table::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
.content .table-container .table::-webkit-scrollbar-thumb, .content .intervention-selector .table::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--second-color);
}
.content .table-container .table table, .content .intervention-selector .table table {
  border-spacing: 0;
  width: 100%;
  overflow: scroll;
}
.content .table-container .table th, .content .table-container .table td, .content .intervention-selector .table th, .content .intervention-selector .table td {
  text-align: center;
  padding: 8px;
  color: var(--second-color);
  white-space: nowrap;
}
.content .table-container .table th, .content .intervention-selector .table th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--bg-color);
}
.content .table-container .table td a, .content .intervention-selector .table td a {
  cursor: pointer;
  color: var(--second-color);
  font-size: 1.25rem;
}
.content .table-container .table td input[type=text], .content .intervention-selector .table td input[type=text] {
  width: 400px;
}
.content .table-container .table td input[type=number], .content .intervention-selector .table td input[type=number] {
  width: 100px;
}
.content .table-container .table th.id, .content .intervention-selector .table th.id {
  padding: 0 20px;
}
.content .table-container .table th.action, .content .intervention-selector .table th.action {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 20;
  background-color: var(--bg-color);
}
.content .table-container .table td.status, .content .intervention-selector .table td.status {
  width: 150px;
}
.content .table-container .table .paid, .content .table-container .table .unpaid, .content .intervention-selector .table .paid, .content .intervention-selector .table .unpaid {
  padding: 3px;
  border-radius: 25px;
  border: 1px solid transparent;
}
.content .table-container .table .paid, .content .intervention-selector .table .paid {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.content .table-container .table .unpaid, .content .intervention-selector .table .unpaid {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.content .table-container .table td.action, .content .intervention-selector .table td.action {
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: var(--bg-color);
}
.content .table-container .table tr:nth-child(even), .content .intervention-selector .table tr:nth-child(even) {
  background-color: var(--main-color);
}
.content .table-container .table tr:nth-child(even) .action, .content .intervention-selector .table tr:nth-child(even) .action {
  background-color: var(--main-color);
}
.content form {
  padding: 15px 0;
}
.content form .container {
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content form .container label {
  font-weight: 500;
  color: var(--second-color);
}
.content form .container input, .content form .container textarea, .content form .container select {
  padding: 3px 8px;
  border-radius: 6px;
  border: solid 1px var(--second-color);
  color: var(--second-color);
  background-color: var(--main-color);
  width: 300px;
}
.content form .container textarea {
  width: 500px;
  height: 100px;
}
.content form .container .input-container {
  position: relative;
  border-radius: 6px;
  border: solid 1px var(--second-color);
  color: var(--second-color);
  background-color: var(--main-color);
  width: 300px;
}
.content form .container .input-container .inputcomplete {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: black;
}
.content form .container .input-container .result-list {
  width: 300px;
}
.content form .container .input-container .result-list ul {
  border-top: 1px solid var(--second-color);
  overflow: auto;
  max-height: 70px;
}
.content form .container .input-container .result-list ul::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
.content form .container .input-container .result-list ul::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--second-color);
}
.content form .container .input-container .result-list ul li {
  font-size: 0.9rem;
  list-style: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}
.content form .container .intervention-selector .search {
  display: flex;
  gap: 10px;
  align-items: center;
}
.content form .container .intervention-selector .search button {
  display: flex;
  align-items: center;
  padding: 2px 4px;
  font-size: 1.5rem;
  border-radius: 6px;
  border: 1px solid black;
  color: var(--main-color);
  background-color: var(--second-color);
  cursor: pointer;
}
.content form input[type=submit] {
  margin: 20px 0;
  padding: 3px 8px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid black;
  color: var(--main-color);
  background-color: var(--second-color);
  cursor: pointer;
}
.content .vizualizer {
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: auto;
  height: fit-content;
  max-height: 540px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: var(--second-color);
}
.content .vizualizer::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
.content .vizualizer::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--second-color);
}
.content .vizualizer .item .name {
  font-size: 1.15rem;
  font-weight: 500;
}
.content .vizualizer .item .data {
  font-size: 1rem;
  font-weight: 400;
}
.content .vizualizer .item .data a {
  color: var(--second-color);
}

@media screen and (max-width: 1000px) {
  .sidebar {
    width: 75px;
  }
  .sidebar ul li {
    margin: 10px 0px;
  }
  .sidebar ul li a i {
    width: 50px;
    font-size: 21px;
  }
  .sidebar ul li a .name {
    display: none;
  }
  .content {
    width: calc(100% - 75px);
    left: 75px;
  }
  .content .title {
    width: 450px;
  }
  .content .message-alert {
    padding: 4px;
    inset: 80px 40px auto auto;
  }
  .content .intervention-selector .table {
    width: 350px;
  }
  .content .table-container .table td a, .content .intervention-selector .table td a {
    color: var(--second-color);
    font-size: 1.25rem;
  }
  .content .table-container .table td input[type=text], .content .intervention-selector .table td input[type=text] {
    width: 250px;
  }
  .content form .container textarea {
    width: 350px;
    height: 80px;
  }
}
@media screen and (max-width: 700px) {
  .content .title {
    width: 300px;
  }
  .content .message-alert {
    padding: 2px;
    inset: 105px 25px auto auto;
  }
}

/*# sourceMappingURL=dash.css.map */
